*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}


@import "admin-layout";


.input-auth{
    input::placeholder {
        color: #fff;
    }
    border: 2px solid #fff !important;
}